<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UchZayavka.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="UchZayavka.Properties.Settings.BDConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\Debug\BD.accdb"
            providerName="System.Data.OleDb" />
        <add name="UchZayavka.Properties.Settings.BDConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\BD.accdb"
            providerName="System.Data.OleDb" />
        <add name="UchZayavka.Properties.Settings.BDConnectionString2"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\BD.accdb"
            providerName="System.Data.OleDb" />
        <add name="UchZayavka.Properties.Settings.BDConnectionString3"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\BD.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <UchZayavka.Properties.Settings>
            <setting name="BDConnectionString15" serializeAs="String">
                <value />
            </setting>
        </UchZayavka.Properties.Settings>
    </userSettings>
</configuration>